<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foobar.mapper.PhotoMapper">

    <insert id="insert">
        insert into r_photo (
        <trim suffixOverrides=",">
            id,
            year,
            month,
            day,
        </trim>
        ) values (
        <trim suffixOverrides=",">
            #{id},
            #{year},
            #{month},
            #{day},
        </trim>
        )
    </insert>
    
    <select id="fetchPhotoGroup" resultType="map">
        SELECT 
        <trim suffixOverrides=",">
            year,
            <if test="year != null">
                month,
            </if>
            <if test="month != null">
                day,
            </if>
            count(r_photo.id) as cnt,
            m_user.id as "userBean.id",
            m_user.nickname as "userBean.nickname",
        </trim>
        FROM
            r_photo
                inner join
            m_file ON m_file.id = r_photo.id
                inner join
            m_user ON m_file.user_id = m_user.id
        <where>
            m_user.id = #{userBean.id}
            <if test="year != null">
                and r_photo.year = #{year}
            </if>
            <if test="month != null">
                and r_photo.month = #{month}
            </if>
            <if test="day != null">
                and r_photo.day = #{day}
            </if>
            and m_file.del_flg = 0
        </where>
        group by 
        <trim suffixOverrides=",">
            year,
            <if test="year != null">
                month,
            </if>
            <if test="month != null">
                day,
            </if>
        </trim>
        order by 
        <trim suffixOverrides=",">
            year desc,
            <if test="year != null">
                month desc,
            </if>
            <if test="month != null">
                day desc,
            </if>
        </trim>
    </select>
    
    
    <select id="fetchPhotoByGroup" resultType="PhotoBean">
        SELECT 
        <trim suffixOverrides=",">
            m_file.id,
            m_file.name,
            m_user.id as "userBean.id",
            m_user.nickname as "userBean.nickname",
        </trim>
        FROM
            r_photo
                inner join
            m_file ON m_file.id = r_photo.id
                inner join
            m_user ON m_file.user_id = m_user.id
        <where>
            m_user.id = #{userBean.id}
            <if test="year != null">
                and r_photo.year = #{year}
            </if>
            <if test="month != null">
                and r_photo.month = #{month}
            </if>
            <if test="day != null">
                and r_photo.day = #{day}
            </if>
            and m_file.del_flg = 0
        </where>
        order by id desc
    </select>
</mapper>