<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="console/layout">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="container-wrap container-header">
        <img th:src="@{/files/p__${document.id}__/thumbnail_1080.jpg}" 
            th:alt-title="${document.title}"
            class="img-responsive" style="max-height: 650px; margin: 0 auto;"/>
    </div>
    <div class="container-wrap container-wrap-darker">
        <form role="form">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputTitle">Title</label>
                            <input type="text" class="form-control" 
                                id="inputTitle" 
                                th:value="${document.title}"
                                placeholder="Enter title" />
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Description</label>
                            <textarea class="form-control" 
                                id="inputDescription" 
                                th:value="${document.description}"
                                placeholder="Enter Description" 
                                rows="15"></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
	                        <div class="col-md-12" th:else="${#strings.isEmpty(document.model)}">
	                            <h4 th:text="${document.model}"></h4>
	                        </div>
                            <div class="col-md-6" th:else="${#strings.isEmpty(document.aperture)}">
                                <strong th:text="${document.aperture}"></strong>
                            </div>
                            <div class="col-md-6" th:else="${#strings.isEmpty(document.focalLength)}">
                                <strong th:text="${document.focalLength}"></strong>
                            </div>
                            <div class="col-md-6" th:else="${#strings.isEmpty(document.shutterSpeed)}">
                                <strong th:text="${document.shutterSpeed}"></strong>
                            </div>
                            <div class="col-md-6" th:else="${#strings.isEmpty(document.iso)}">
                                <strong th:text="${document.iso}"></strong>
                            </div>
                            <div class="col-md-12" th:if="${document.taken} ne null">
                                <strong th:text="${#dates.format(document.taken, 'YYYY/MM/DD HH:mm:ss')}"></strong>
                            </div>
                        </div>
                        <ul class="list-unstyled">
                            <li th:each="exif : ${document.exif}">
                                <span th:text="${exif}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block layout:fragment="scripts">
</th:block>
</body>
</html>